- var imgUrl = rootUrl + video.thumb + '?X-Plex-Token=' + token
- var videoMetadataUrl = rootUrl + video.key
- var transcodeUrl = rootUrl + '/video/:/transcode/universal/start.m3u8?'
- var transcodeParams = 'path=' + videoMetadataUrl + '&fastseek=1&protocol=hls'
- var videoUrl = transcodeUrl + transcodeParams + '&X-Plex-Platform=iOS&X-Plex-Token=' + token

document
   productTemplate
      background
      banner
        infoList
          info
            header
              title Director
            text John Appleseed
          info
            header
              title Actors
            text Anne Johnson
            text Tom Clark
            text Maria Ruiz
        stack
          title= video.title
          row
            text 1hr 54min
            text Comedy
            text 2015
          description(allowsZooming="true" moreLabel="more")= video.summary
          text Language information can go here
          row
            buttonLockup(data-video-url=videoUrl)
              title Play
        heroImg(src=imgUrl)
